$colors: (
    base: (
        background: #444444,
        background--dark: #232323,
        text: #f3f3f3,
        text--dark: #232323, 
        primary: #a03ea0,
        primary--dark: #883588,
        secondary: #f3f3f3,
        secondary--dark: #e2e2e2
    )
);