.o-article {
    line-height: $body-copy-line-height-ratio;
    max-width: 75ch;

    a:not([class]) {
        @include link();
    }

    @include media-query("lap-and-up") {
        font-size: 1.25rem;
    }
}