.o-article {
    line-height: $body-copy-line-height-ratio;
    max-width: 75ch;

    a:not([class]) {
        @include link();
    }

    @include media-query("lap-and-up") {
        font-size: 1.25rem;
    }

    // Any special styles for naked elements
    ul {
        list-style: disc;
    }

    ol {
        list-style: decimal;
    }

    li {
        margin: 0 0 0 22px;
    }

    li + li {
        margin-top: 10px;
    }
}