html {
    width: 100%;
    height: 100%;
    font-size: $base-font-size;
    background: color(base, background);
}

body {
    min-width: $site-min-width;
    max-width: $site-max-width;
    min-height: 100%;
    margin: 0 auto;
    font-family: $base-font-family;
    font-size: 1rem;
    line-height: $base-line-height-ratio;
    background: color(base, background--dark);
    color: color(base, text);
    padding: $gutter;
    -webkit-text-size-adjust: 100%;

    // Background set as RGBA as per: https://stackoverflow.com/a/22751702  ¯\_(ツ)_/¯
    @include selection(rgba(255,255,255,0.99), color(base, background--dark));

    @include media-query("lap-and-up") {
        padding: $gutter--double;
    }

    @include media-query("desk") {
        padding: $gutter--jumbo;
    }
}

a[href^="mailto"] {
    @include word-wrap();
}

.clear {

    &:after,
    &:before {
        content: "";
        clear: both;
        display: block;
    }
}

// Code snippets etc
code {
    padding: 2px;
    background: color(base, background--reversed);
    color: color(base, text--dark);
    border-radius: $radius--mini;

    pre & {
        tab-size: 4;
        padding: 10px;
    }
}

// Codepen embed 
.cp_embed_wrapper {
    max-width: 750px;
}