---
layout: minify-html
---
<!DOCTYPE html>
<html dir="ltr" lang="en-GB" class="no-js">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=Edge,chrome=1">

        {% include meta-info.html %} 

        <meta name="viewport" content="width=device-width, initial-scale=1" />
        <link rel="apple-touch-icon" sizes="180x180" href="{{ site.asset_base }}/images/favicons/apple-touch-icon.png?{{ site.asset_version }}">
        <link rel="icon" type="image/png" sizes="32x32" href="{{ site.asset_base }}/images/favicons/favicon-32x32.png?{{ site.asset_version }}">
        <link rel="icon" type="image/png" sizes="16x16" href="{{ site.asset_base }}/images/favicons/favicon-16x16.png?{{ site.asset_version }}">
        <link rel="manifest" href="{{ site.asset_base }}/images/favicons/manifest.json">
        <link rel="mask-icon" href="{{ site.asset_base }}/images/favicons/safari-pinned-tab.svg" color="#9a46fa">
        <link rel="shortcut icon" href="{{ site.asset_base }}/images/favicons/favicon.ico?{{ site.asset_version }}">
        <meta name="msapplication-config" content="{{ site.asset_base }}/images/favicons/browserconfig.xml">
        <meta name="theme-color" content="#ffffff">

        <link rel="stylesheet" href="{{ site.asset_base }}/css/main.css?{{ site.asset_version }}" />
        <link href="https://fonts.googleapis.com/css?family=Merriweather:900|Muli:400,600,700" rel="stylesheet" />
    </head>
    <body>

        {% include partials/site-head.html %}

        <main id="main-content">
            {{ content }}
        </main>

        {% include partials/site-foot.html %}

        <script async src="https://production-assets.codepen.io/assets/embed/ei.js"></script>
        <script>
            (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
            (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
            m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
            })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

            ga('create', 'UA-111894806-2', 'auto');
            ga('send', 'pageview');
        </script>
        <script>
            if(navigator.serviceWorker) {
                navigator.serviceWorker.register('/service-worker.js');
            }
        </script>
   </body>
</html>
