---
layout: base
---
<section class="c-section">
    <article class="[ o-article ] [ flow-vertical--double ]">
        <h2 class="is-hidden--text">{{ page.hidden_intro_heading }}</h2>
        {{ content }}
        <div class="c-button-group">
            <a class="o-button" href="https://boilerform-patterns.hankchizljaw.com/">See the pattern library</a>
            <a class="o-button o-button--rev" href="//github.com/hankchizljaw/boilerform">See the GitHub <abbr title="Repository">repo</abbr></a>
        </div>
    </article>
</section>
<section class="[ c-section ] [ flow-vertical--double ]" id="examples">
    <h2 class="[ o-heading o-heading--primary ] [ breathe--double-bottom ]">Examples</h2>

    {% assign examples = (site.examples | sort: "display_order") %}
    {% for item in examples %}
        <article class="flow-vertical--midi" aria-live="polite">
            <h3 class="o-heading o-heading--secondary">{{ item.title }}</h3>
            <p data-height="450" 
                data-theme-id="dark" 
                data-slug-hash="{{ item.codepen_code }}" 
                data-default-tab="result" 
                data-user="hankchizljaw" 
                data-embed-version="2" 
                data-pen-title="{{ item.title }}" 
                class="codepen">See the Pen <a href="https://codepen.io/hankchizljaw/pen/Yrmxqw/">{{ item.title }}</a> by Andy Bell (<a href="https://codepen.io/hankchizljaw">@hankchizljaw</a>) on <a href="https://codepen.io">CodePen</a>.</p>
        </article>
    {% endfor %}

</section>
<section class="c-section" id="getting-started">
    <article class="[ o-article ] [ flow-vertical--double ]">
        <h2 class="o-heading o-heading--primary">Getting started</h2>
        {% capture getting_started %}{% include content/getting-started.md %}{% endcapture %}
        {{ getting_started | markdownify }}
    </article>
</section>
<section class="c-section" id="get-involved">
    <article class="[ o-article ] [ flow-vertical--double ]">
        <h2 class="o-heading o-heading--primary">Get involved</h2>
        {% capture get_involved %}{% include content/get-involved.md %}{% endcapture %}
        {{ get_involved | markdownify }}
        <div class="c-button-group">
            <a class="o-button" href="//github.com/andybelldesign/boilerform">Go to the GitHub Repository</a>
        </div>
    </article>
</section>
